<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cancer Prognosis</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'progApp/general.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    </head>

    <body>
    	<nav class="navbar navbar-default" role="navigation">
		  	<div class="container-fluid">
		  		<div class="collapse navbar-collapse" id="navbar">
      				<ul class="nav navbar-nav nav-center">
          				<li><a class="navbar-brand glyphicon glyphicon-home" aria-hidden="true" href=".."></a></li>
    					<li><a href="lookup/">Look Up Information</a></li>
    	        		<li><a href="updatePatient/">Update Patient</a></li>
                        <li><a href=".."> Login </a> </li>
	        		</ul>
				</div>
			</div>
		</nav>

        <div class="jumbotron">
        	<div id="main" class="container" role="main">
            	<h1>Welcome to the Cancer Prognosis Application (CPA).</h1>
            	<p> CPA is designed to facilitate in the cancer prognosis process. Doctors can determine the prognosis of a particular type of cancer based on previous results. </p>
    	    </div>
        </div>

        <!-- Load scripts if necessary-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	   <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>