<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cancer Prognosis</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'progApp/lookup.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'progApp/general.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	</head>

	<body>
		<!-- Nav bar -->
    	<nav class="navbar navbar-default" role="navigation">
		  	<div class="container-fluid">
		  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav">
      				<li><a class="navbar-brand glyphicon glyphicon-home" aria-hidden="true" href="..">Home</a></li>
					<li><a href="lookup/">Look Up Information</a> <br></li>
	        		<li><a href="updatePatient/">Update Patient</a></li>
	        		</ul>
				</div>
			</div>
		</nav>

		<div id="main" class="container" role="main">
			<div id = "look-up-info-container" >
				<h1>Look up information</h1>
				<form id="look_up_form" method="post" action='/lookup/'>

					{% csrf_token %}
					<table>
						{{form.as_table}}
					</table>

					<!-- Option to render results manually.
						https://docs.djangoproject.com/en/dev/topics/forms/ 
						<ul>
						{% for field in form.visible_fields %}
						<li>
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						</li>
						{% endfor %}
					</ul> -->
					<br>

					<input type="submit" class="btn btn-default" name="submit" value="Look Up Information" />
				</form>
			</div>
		</div>


		<!-- Load scripts if necessary-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	</body>
</html>