.btn-primary {
	color:#FCFFF5;
	background-color:#3E606F;
	border-color:#193441;
}

.container-fluid {
	background-color: #193441;
	background-image: none;
}

.container-tile {
	background-color:#FCFFF5;
	border-radius: 15px;
	margin-top:3%;
	padding: 3%;
	padding-top:10px;
}

h1, h2 {
	text-align:center;
}

html, body {
	background-color:#D1DBBD;
	height: 100%;
}

.jumbotron {
	background-color:#FCFFF5;
}

.navbar {
    margin-bottom: 0;
    text-align: center;
    float: none;
}

.navbar-brand {
	margin: auto;
}

.nav-center {
	float: none;
}

.navbar .nav > li {
	float:none;
	display:inline-block;
	vertical-align:top;
}

.navbar .nav > li a:hover {
	color:#91AA9D;
}

.navbar-default .navbar-nav > li > a {
  color: #FCFFF5;
}

/* Use these as padding */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }