.navbar {
    margin-bottom: 0;
    text-align: center;
    float: none;
}

.navbar-brand {
	margin: auto;
}

.nav-center {
	float: none;
}

.navbar .nav > li {
	float:none;
	display:inline-block;
	vertical-align:top;
}

.container-fluid{
	background-color: #ACF0F2;
	background-image: none;
}

/* Use these as padding */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }