h1, h2 {
	text-align:center;
}

ul {
	list-style-type: none;
}

#button-div {
	text-align: center;
}

#chart-area { 
	text-align: center;
}

#chart-label, #treatment-label {
	text-align: center;
}

.field-heading{
	display:inline;
	font-weight:bold;
}

.field-text {
	display:inline;
}

#print-buttons-container {
	text-align: center;
}

.text {
	text-align: center;
}