h1 {
	text-align:center;
}

ul {
	list-style-type: none;
}

#button-div {
	text-align: center;
}

.field-heading {
	display:inline;
	font-weight:bold;
}

.field-text {
	display:inline;
}

#look-up-info-container {
	background-color:#FCFFF5;
	margin-top:3%;
	padding: 3%;
	padding-top:10px;
}

#print-buttons-container {
	text-align: center;
}

#results-container {
	background-color:#FCFFF5;
	margin-top:3%;
	padding: 3%;
	padding-top:10px;
}